include LICENSE.txt
include README.md
include MANIFEST.in
include CHANGELOG.md
include mmpdb
include setup.py
include setup.cfg
include mmpdblib/__init__.py
include mmpdblib/__main__.py
include mmpdblib/_compat.py
include mmpdblib/analysis_algorithms.py
include mmpdblib/cansmirks_table.py
include mmpdblib/command_support.py
include mmpdblib/commandline.py
include mmpdblib/config.py
include mmpdblib/create_index.sql
include mmpdblib/dbutils.py
include mmpdblib/do_analysis.py
include mmpdblib/do_database.py
include mmpdblib/do_fragment.py
include mmpdblib/do_help.py
include mmpdblib/do_index.py
include mmpdblib/drop_index.sql
include mmpdblib/environment.py
include mmpdblib/fileio.py
include mmpdblib/fragment_algorithm.py
include mmpdblib/fragment_io.py
include mmpdblib/fragment_types.py
include mmpdblib/index_algorithm.py
include mmpdblib/index_writers.py
include mmpdblib/peewee.py
include mmpdblib/properties_io.py
include mmpdblib/reporters.py
include mmpdblib/schema.py
include mmpdblib/schema.sql
include mmpdblib/smarts_aliases.py
include mmpdblib/smiles_syntax.py
include mmpdblib/playhouse/__init__.py
include mmpdblib/playhouse/apsw_ext.py
include mmpdblib/playhouse/db_url.py
include mmpdblib/playhouse/flask_utils.py
include mmpdblib/playhouse/pool.py
include mmpdblib/playhouse/sqlite_ext.py

include tests/cached.fragments
include tests/comma.smi
include tests/space.smi
include tests/space.smi.gz
include tests/support.py
include tests/tab.smi
include tests/test_analysis.py
include tests/test_data.csv
include tests/test_data.fragments
include tests/test_data.mmpdb
include tests/test_data.smi
include tests/test_data_2018.mmpdb
include tests/test_fragment.py
include tests/test_index.py
include tests/two_tabs.smi
