include LICENSE.txt
include README.md
include MANIFEST.in
include CHANGELOG.md
include mmpdb
include setup.py
include setup.cfg
include pyproject.toml
recursive-include mmpdb *.py

include tests/cached.fragments
include tests/comma.smi
include tests/space.smi
include tests/space.smi.gz
include tests/support.py
include tests/tab.smi
include tests/test_analysis.py
include tests/test_data.csv
include tests/test_data.fragments
include tests/test_data.mmpdb
include tests/test_data.smi
include tests/test_data_2018.mmpdb
include tests/test_data_2019.mmpdb
include tests/test_frag2smarts.py
include tests/test_fragment.py
include tests/test_index.py
include tests/two_tabs.smi
